#addContractInformation {
  cursor:pointer;
  width:max-content;
  margin:1rem 0;
  svg {
    pointer-events: none;
    width:22px;
    height:22px;
    fill:var(--success);
  }
}
#contractInformationContainer {
  margin:1rem 0;
  display:flex;
  flex-direction:column;
  gap:0.5rem;
  .clientContract {
    display:flex;
    gap:5px;
    &>div {
      display:flex;
      flex-direction:column;
      gap:5px;
    }
    .clientContractServiceSelect {
      width:160px;
      option  {
        &:disabled {
          background:#D3D3D3;
          color:white;
        }
      }
    }
    .clientContractDeadlineInput {
      width:129px;
    }
    .clientContractInfoContainer {
      flex-grow:1;
    }
    .clientContractNumber {
      width:100px;
    }
    .clientContractPriceInput,
    .clientContractPriceCurrencySelect {
      width:100px;
    }
    .deleteClientContract {
      cursor:pointer;
      svg {
        pointer-events: none;
        fill:red;
        width:18px;
        height:18px;
      }
    }
  }
}