.login-form-addon {
  padding: .375rem .75rem;
  border: 1px solid #d1d3e2;
  border-radius: .35rem;
}
.menu-item
{
  width: 100px;
  height: 100px;
}
.error {
  font-size: 16px;
  color: #cc0000;
  width: 100%;
}

.none {
  display: none;
}

.citySuggest {
  overflow: scroll;
  height: 200px;
}
.citySuggest li{
  cursor: pointer;
}
.removeService {
  cursor: pointer;
  color: red;
}
#step1 select {
  display: inline;
}

.businessInfo input, .businessInfo textarea {
  display: inline;
  width: 77%;
  max-width: 350px;
  padding: 0 8px;
  height: auto;
}
.businessInfo label {
  font-weight: bold;
  margin-right: 10px;
  min-width: 70px;
}

.businessInfo .form-group {
  margin-bottom: 0;
}

table .form-control {
  width: 70%;
  display: inline;
}

