#addInvoiceInstruction {
  cursor:pointer;
  width:max-content;
  margin:1rem 0;
  svg {
    pointer-events: none;
    width:22px;
    height:22px;
    fill:var(--success);
  }
}
#invoiceInstructionContainer {
  margin:1rem 0;
  display:flex;
  gap:4rem;
  flex-wrap:wrap;
  .invoiceInstruction {
    display:flex;
    flex-direction:column;
    gap:0.5rem;
    position:relative;
    &>div {
      display:flex;
      flex-direction:column;
      gap:5px;
    }
    .invoiceInstructionSelect {
      width:160px;
      option  {
        &:disabled {
          background:#D3D3D3;
          color:white;
        }
      }
    }
    textarea {
      width:500px;
      height:150px;
    }

    .deleteInvoiceInstruction {
      cursor:pointer;
      position:absolute;
      right:0;
      top:0;
      svg {
        pointer-events: none;
        fill:red;
        width:18px;
        height:18px;
      }
    }
  }
}