:root {
  --mainColor: #4e73df;
  --success: #1cc88a;
  --error: #e74a3b;
  --errorShadow: 231, 74, 59;
  --successDark: #17a673;
  --lightGray: #e3e6f0; }

.freeze {
  overflow: hidden; }

.actionSection {
  width: 135px; }
  .actionSection .actionContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem; }
    .actionSection .actionContainer .deleteEntity {
      cursor: pointer;
      display: inline; }
      .actionSection .actionContainer .deleteEntity svg {
        pointer-events: none;
        color: var(--red);
        width: 28px; }
    .actionSection .actionContainer .editEntity {
      cursor: pointer;
      display: inline; }
      .actionSection .actionContainer .editEntity svg {
        pointer-events: none;
        color: var(--green);
        width: 28px; }
    .actionSection .actionContainer a svg {
      pointer-events: none;
      color: var(--green);
      width: 28px; }

.marginTop {
  margin-top: 1.5rem; }

.hidden {
  display: none !important; }

.extraSpace {
  margin-bottom: 46px; }

.btn.btn-primary {
  background: var(--mainColor);
  border-color: var(--mainColor); }
  .btn.btn-primary:active {
    background-color: var(--mainColor) !important;
    border-color: var(--mainColor) !important; }

.btn-primary:not(:disabled):not(.disabled):active {
  background-color: var(--mainColor) !important;
  border-color: var(--mainColor) !important; }

.form-group {
  margin-bottom: 2rem;
  position: relative; }

.login-form-addon {
  padding: .375rem .75rem;
  border: 1px solid #d1d3e2;
  border-radius: .35rem; }

.menu-item {
  width: 100px;
  height: 100px; }

.error {
  font-size: 16px;
  color: #cc0000;
  width: 100%; }

.none {
  display: none; }

.citySuggest {
  overflow: scroll;
  height: 200px; }

.citySuggest li {
  cursor: pointer; }

.removeService {
  cursor: pointer;
  color: red; }

#step1 select {
  display: inline; }

.businessInfo input, .businessInfo textarea {
  display: inline;
  width: 77%;
  max-width: 350px;
  padding: 0 8px;
  height: auto; }

.businessInfo label {
  font-weight: bold;
  margin-right: 10px;
  min-width: 70px; }

.businessInfo .form-group {
  margin-bottom: 0; }

table .form-control {
  width: 70%;
  display: inline; }

table {
  margin-bottom: 0 !important; }
  table thead.lowOpacity,
  table tbody.lowOpacity,
  table tfoot.lowOpacity {
    opacity: 0.5; }
  table.tableControls {
    margin-top: 1.5rem; }
    table.tableControls td:nth-of-type(1) {
      width: 40%;
      border-left: 1px solid #e3e6f0; }
    table.tableControls td:nth-of-type(2) {
      width: 30%; }
      table.tableControls td:nth-of-type(2) select {
        width: 100px; }
    table.tableControls td:nth-of-type(3) {
      border-right: 1px solid #e3e6f0;
      width: 30%; }
      table.tableControls td:nth-of-type(3) input {
        display: block;
        margin-left: auto;
        width: 300px; }
  table .tableHeader {
    position: relative; }
    table .tableHeader .sortControls {
      position: absolute;
      top: 0;
      right: 10px;
      display: flex;
      transform: translateY(50%); }
      table .tableHeader .sortControls .sortColumn {
        transition: 0.3s ease all;
        cursor: pointer;
        width: 20px; }
        table .tableHeader .sortControls .sortColumn svg {
          pointer-events: none; }
        table .tableHeader .sortControls .sortColumn.hidden {
          display: none; }
        table .tableHeader .sortControls .sortColumn.active svg {
          stroke: var(--mainColor); }
  table a {
    color: var(--success); }
    table a:hover {
      color: var(--successDark); }
    table a:visited {
      color: var(--success); }

.tablePagination {
  display: flex;
  gap: 0.2rem; }
  .tablePagination .buttonContainer {
    display: flex;
    gap: 0.2rem; }
  .tablePagination button.prevButton svg, .tablePagination button.nextButton svg {
    pointer-events: none;
    width: 16px; }

.tableMessage {
  font-weight: bold; }

.ghostRow {
  height: 63px; }

#filterContainer {
  display: flex;
  gap: 2rem;
  margin: 2rem 0; }
  #filterContainer .filterWrapper {
    display: flex;
    flex-direction: column; }
    #filterContainer .filterWrapper select {
      width: max-content; }

#modal {
  z-index: 2;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }
  #modal.hidden {
    display: none; }
  #modal #innerModal {
    z-index: 3;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background: white;
    border: 1px solid #e0e5ec;
    border-radius: 5px;
    overflow-y: scroll;
    max-width: 100%;
    max-height: 100%;
    /* width */
    /* Track */
    /* Handle */ }
    #modal #innerModal::-webkit-scrollbar {
      width: 5px; }
    #modal #innerModal::-webkit-scrollbar-track {
      background: #D9D9D9;
      border-radius: 10px; }
    #modal #innerModal::-webkit-scrollbar-thumb {
      background: #4e73df;
      border-radius: 10px; }
    #modal #innerModal #closeModal {
      position: absolute;
      top: 10px;
      right: 10px;
      width: 28px;
      height: 28px;
      cursor: pointer; }
      #modal #innerModal #closeModal:hover svg {
        color: black; }
      #modal #innerModal #closeModal svg {
        pointer-events: none;
        transition: 0.3s ease all; }
    #modal #innerModal #modalContent {
      padding: 2.5rem 1.5rem; }
    #modal #innerModal #errorContainer p {
      margin: 1rem auto 0 auto;
      width: 80%; }

#loader {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border: 6px solid #f3f3f3;
  border-radius: 50%;
  border-top: 6px solid #4e73df;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  animation: spin 2s linear infinite;
  z-index: 999;
  opacity: 1; }
  #loader.small {
    width: 30px;
    height: 30px;
    border: 4px solid #f3f3f3;
    border-top: 4px solid #4e73df; }

@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
.searchContainer {
  max-width: 250px;
  position: relative; }
  .searchContainer .chevron::before {
    border-style: solid;
    border-width: 2px 2px 0 0;
    content: '';
    display: inline-block;
    height: 8px;
    position: absolute;
    transform: rotate(135deg);
    vertical-align: top;
    width: 8px;
    right: 35px;
    top: 14px;
    pointer-events: none;
    color: #4e73df; }
  .searchContainer label {
    display: block;
    margin-bottom: 0.5rem; }
  .searchContainer input {
    margin-bottom: 2rem; }
  .searchContainer .nameInput {
    cursor: pointer; }
    .searchContainer .nameInput.focused {
      outline: 2px solid #4e73df; }
  .searchContainer #entityOptions {
    scrollbar-width: 7px;
    scrollbar-color: #4e73df;
    position: absolute;
    z-index: 1;
    background: white;
    height: 200px;
    width: 100%;
    overflow-y: auto;
    outline: 1px solid #d1d3e2;
    border-radius: 0.35rem;
    margin-top: 0.35rem; }
    .searchContainer #entityOptions::-webkit-scrollbar {
      width: 7px; }
    .searchContainer #entityOptions::-webkit-scrollbar-track {
      background: white;
      /* color of the tracking area */ }
    .searchContainer #entityOptions::-webkit-scrollbar-thumb {
      background-color: #4e73df;
      /* color of the scroll thumb */
      border-radius: 1px;
      /* roundness of the scroll thumb */
      /* border: 1px solid #000066;  */
      /* creates padding around scroll thumb */ }
    .searchContainer #entityOptions .entityOption {
      padding: 0.5rem;
      cursor: pointer;
      transition: 0.3s ease all; }
      .searchContainer #entityOptions .entityOption:hover {
        background-color: #4e73df;
        color: white; }
@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
    .searchContainer #entityOptions #noMoreMessage {
      display: block;
      text-align: center; }
  .searchContainer #loaderAjax {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 170px;
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #4e73df;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
    z-index: 999;
    opacity: 1; }
  .searchContainer #searchInputContainer {
    position: relative; }
    .searchContainer #searchInputContainer svg {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 20px;
      margin: auto;
      right: 10px; }

.formFieldNotice {
  display: block;
  color: var(--error);
  position: absolute; }

.invalidFormField {
  border: 1px solid var(--error); }
  .invalidFormField:focus {
    border-color: var(--error);
    box-shadow: 0 0 0 0.2rem rgba(var(--errorShadow), 0.5); }

#tabbedContentContainer #tabs {
  display: flex; }
  #tabbedContentContainer #tabs .tab {
    cursor: pointer;
    padding: 0.6rem 1.2rem;
    background: white;
    border: 1px solid var(--lightGray);
    transition: 0.3s ease all; }
    #tabbedContentContainer #tabs .tab.active, #tabbedContentContainer #tabs .tab:hover {
      background: var(--mainColor);
      color: white;
      border: 1px solid var(--mainColor);
      border-top-right-radius: 12px; }
#tabbedContentContainer #tabContent {
  position: relative;
  background: white;
  max-width: 800px;
  overflow-y: auto;
  padding: 1rem;
  min-height: 600px; }

.selectedServices {
  display: flex;
  flex-direction: column;
  width: fit-content; }
  .selectedServices .selectedServicesTotals {
    order: 2;
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    margin-left: auto; }
    .selectedServices .selectedServicesTotals label {
      display: block; }
    .selectedServices .selectedServicesTotals input {
      width: 258px; }
  .selectedServices .selectedService {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-bottom: 1px solid lightgray;
    padding: 1rem 0; }
    .selectedServices .selectedService .serviceInputs {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem; }
      .selectedServices .selectedService .serviceInputs > div {
        display: flex;
        flex-direction: column;
        gap: 0.5rem; }
        .selectedServices .selectedService .serviceInputs > div label {
          font-weight: bold; }
    .selectedServices .selectedService .serviceNameContainer label {
      font-weight: bold; }
    .selectedServices .selectedService .serviceNameContainer input {
      width: 800px; }
    .selectedServices .selectedService .qtyContainer input {
      width: 55px; }
    .selectedServices .selectedService .measureUnitContainer input {
      width: 150px; }

.removeService {
  cursor: pointer; }
  .removeService svg {
    pointer-events: none;
    width: 32px; }

.useContractContainer {
  flex-basis: 100%; }
  .useContractContainer .useContract {
    width: 18px;
    height: 18px; }

#invoiceForm select option:disabled,
#invoiceRecurringForm select option:disabled {
  background-color: #D3D3D3;
  color: white; }

#addContractInformation {
  cursor: pointer;
  width: max-content;
  margin: 1rem 0; }
  #addContractInformation svg {
    pointer-events: none;
    width: 22px;
    height: 22px;
    fill: var(--success); }

#contractInformationContainer {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem; }
  #contractInformationContainer .clientContract {
    display: flex;
    gap: 5px; }
    #contractInformationContainer .clientContract > div {
      display: flex;
      flex-direction: column;
      gap: 5px; }
    #contractInformationContainer .clientContract .clientContractServiceSelect {
      width: 160px; }
      #contractInformationContainer .clientContract .clientContractServiceSelect option:disabled {
        background: #D3D3D3;
        color: white; }
    #contractInformationContainer .clientContract .clientContractDeadlineInput {
      width: 129px; }
    #contractInformationContainer .clientContract .clientContractInfoContainer {
      flex-grow: 1; }
    #contractInformationContainer .clientContract .clientContractNumber {
      width: 100px; }
    #contractInformationContainer .clientContract .clientContractPriceInput,
    #contractInformationContainer .clientContract .clientContractPriceCurrencySelect {
      width: 100px; }
    #contractInformationContainer .clientContract .deleteClientContract {
      cursor: pointer; }
      #contractInformationContainer .clientContract .deleteClientContract svg {
        pointer-events: none;
        fill: red;
        width: 18px;
        height: 18px; }

#addInvoiceInstruction {
  cursor: pointer;
  width: max-content;
  margin: 1rem 0; }
  #addInvoiceInstruction svg {
    pointer-events: none;
    width: 22px;
    height: 22px;
    fill: var(--success); }

#invoiceInstructionContainer {
  margin: 1rem 0;
  display: flex;
  gap: 4rem;
  flex-wrap: wrap; }
  #invoiceInstructionContainer .invoiceInstruction {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    position: relative; }
    #invoiceInstructionContainer .invoiceInstruction > div {
      display: flex;
      flex-direction: column;
      gap: 5px; }
    #invoiceInstructionContainer .invoiceInstruction .invoiceInstructionSelect {
      width: 160px; }
      #invoiceInstructionContainer .invoiceInstruction .invoiceInstructionSelect option:disabled {
        background: #D3D3D3;
        color: white; }
    #invoiceInstructionContainer .invoiceInstruction textarea {
      width: 500px;
      height: 150px; }
    #invoiceInstructionContainer .invoiceInstruction .deleteInvoiceInstruction {
      cursor: pointer;
      position: absolute;
      right: 0;
      top: 0; }
      #invoiceInstructionContainer .invoiceInstruction .deleteInvoiceInstruction svg {
        pointer-events: none;
        fill: red;
        width: 18px;
        height: 18px; }

/*# sourceMappingURL=style.css.map */
