.selectedServices {
  display:flex;
  flex-direction:column;
  width:fit-content;
  .selectedServicesTotals {
    order:2;
    display:flex;
    flex-direction:column;
    margin:1rem 0;
    margin-left:auto;
    label {
      display:block;
    }
    input {
      width:258px;
    }
  }
  .selectedService {
    display:flex;
    flex-direction:column;
    gap:1rem;
    border-bottom:1px solid lightgray;
    padding:1rem 0;
    .serviceInputs {
      display:flex;
      flex-wrap:wrap;
      gap:1rem;
      &>div {
        display:flex;
        flex-direction:column;
        gap:0.5rem;
        label {
          font-weight:bold;
        }
      }
    }
    .serviceNameContainer {
      label {
        font-weight:bold;
      }
      input {
        width:800px;
      }
    }
    .qtyContainer {
      input {
        width:55px;
      }
    }
    .measureUnitContainer {
      input {
        width:150px;
      }
    }
  }
}
.removeService {
  cursor:pointer;
  svg {
    pointer-events: none;
    width:32px;
  }
}

.useContractContainer {
  flex-basis:100%;
  .useContract {
    width:18px;
    height:18px;
  }
}
#invoiceForm,
#invoiceRecurringForm {
  select {
    option:disabled {
      background-color:#D3D3D3;
      color:white;
    }
  }
}
