.searchContainer {
  max-width:250px;
  position:relative;
  .chevron {
    &::before {
      border-style: solid;
      border-width: 2px 2px 0 0;
      content: '';
      display: inline-block;
      height: 8px;
      position: absolute;
      transform: rotate(135deg);
      vertical-align: top;
      width: 8px;
      right:35px;
      top:14px;
      pointer-events: none;
      color:$blue;
    }
  }
  label {
    display:block;
    margin-bottom:0.5rem;
  }
  input {
    margin-bottom:2rem;
  }
  .nameInput {
    cursor:pointer;
    &.focused {
      outline:2px solid $blue;
    }
  }
  #entityOptions {
    scrollbar-width: 7px;
    scrollbar-color: $blue;
    position:absolute;
    z-index: 1;
    background: white;
    height:200px;
    width:100%;
    overflow-y:auto;
    outline:1px solid #d1d3e2;
    border-radius:0.35rem;
    margin-top:0.35rem;
    &::-webkit-scrollbar {
      width: 7px;
    }
    &::-webkit-scrollbar-track {
      background: white;        /* color of the tracking area */
    }
    &::-webkit-scrollbar-thumb {
      background-color: $blue;    /* color of the scroll thumb */
      border-radius: 1px;       /* roundness of the scroll thumb */
      /* border: 1px solid #000066;  *//* creates padding around scroll thumb */
    }
    .entityOption {
      padding:0.5rem;
      cursor:pointer;
      transition: 0.3s ease all;
      &:hover {
        background-color:$blue;
        color:white;
      }
    }
    @keyframes spin {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
    #noMoreMessage {
      display:block;
      text-align:center;
    }
  }
  #loaderAjax {
    position:absolute;
    margin:auto;
    left:0;
    right:0;
    top:170px;
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid $blue;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
    z-index: 999;
    opacity: 1;
  }

  #searchInputContainer {
    position:relative;
    svg {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 20px;
      margin: auto;
      right: 10px;
    }
  }
}