#tabbedContentContainer {
  #tabs {
    display:flex;
    .tab {
      cursor:pointer;
      padding:0.6rem 1.2rem;
      background:white;
      border:1px solid var(--lightGray);
      transition: 0.3s ease all;
      &.active,
      &:hover {
        background:var(--mainColor);
        color:white;
        border:1px solid var(--mainColor);
        border-top-right-radius: 12px;
      }
    }
  }
  #tabContent {
    position:relative;
    background:white;
    max-width:800px;
    overflow-y:auto;
    padding:1rem;
    min-height:600px;
  }
}