table {
  margin-bottom:0 !important;
    thead,
    tbody,
    tfoot {
      &.lowOpacity {
        opacity: 0.5;
      }
    }
  &.tableControls {
    margin-top:1.5rem;
    td {
      &:nth-of-type(1) {
        width:40%;
        border-left: 1px solid #e3e6f0;
      }
      &:nth-of-type(2) {
        width:30%;
        select {
          width:100px;
        }
      }
      &:nth-of-type(3) {
        border-right: 1px solid #e3e6f0;
        width:30%;
        input {
          display:block;
          margin-left:auto;
          width:300px;
        }
      }
    }
  }
  .tableHeader {
    position:relative;
    .sortControls {
      position: absolute;
      top:0;
      right:10px;
      display:flex;
      transform: translateY(50%);
      .sortColumn {
        transition: 0.3s ease all;
        cursor:pointer;
        width: 20px;
        svg {
          pointer-events: none;
        }
        &.hidden {
          display:none;
        }
        &.active {
          svg {
            stroke: var(--mainColor);
          }
        }
      }
    }
  }
  a {
    color:var(--success);
    &:hover {
      color:var(--successDark)
    }
    &:visited {
      color:var(--success)
    }
  }
}


.tablePagination {
  display:flex;
  gap:0.2rem;
  .buttonContainer {
    display:flex;
    gap:0.2rem;
  }
  button {
    &.prevButton,
    &.nextButton {
      svg {
        pointer-events:none;
        width: 16px;
      }
    }
  }
}

.tableMessage {
  font-weight:bold;
}

.ghostRow {
  height:63px;
}

#filterContainer {
  display:flex;
  gap:2rem;
  margin:2rem 0;
  .filterWrapper {
    display: flex;
    flex-direction: column;
    select {
      width:max-content;
    }
  }
}