@import 'variables';
.freeze {
  overflow:hidden;
}

.actionSection {
  width: 135px;
  .actionContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    .deleteEntity {
      cursor: pointer;
      display: inline;

      svg {
        pointer-events: none;
        color: var(--red);
        width: 28px;
      }
    }

    .editEntity {
      cursor: pointer;
      display: inline;

      svg {
        pointer-events: none;
        color: var(--green);
        width: 28px;
      }
    }
    a {
      svg {
        pointer-events: none;
        color: var(--green);
        width: 28px;
      }
    }
  }
}
.marginTop {
  margin-top:1.5rem;
}

.hidden {
  display:none !important;
}

.extraSpace {
  margin-bottom:46px;
}


.btn.btn-primary {
  background: var(--mainColor);
  border-color: var(--mainColor);
  &:active {
    background-color: var(--mainColor) !important;
    border-color: var(--mainColor) !important;
  }
}
.btn-primary:not(:disabled):not(.disabled):active {
  background-color: var(--mainColor) !important;
  border-color: var(--mainColor) !important;
}

.form-group {
  margin-bottom:2rem;
  position:relative;
}

